*{
    margin : 0;
    padding : 0; 
}


.main-container {
    background-color: white;
    width : 90vw;
    height : 95vh;
    display: flex;
    flex-direction: column;
}

.left-container {
    width : 30%;
    height : 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-right: 1%;
    overflow-y: auto;
}

.center-container {
    width : 70%;
    height : 100%;
    background-color: #F4F1EB;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom,#00A884 0%, #00A884 130px,#E3E2DE 130px, #E3E2DE 100%);
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
    color: #8696A0;
}

body h1{
    color : black;
}

.content-container {
    width : 100%;
    height : 93%;
    display: flex;
}

.nav-container {
    width: 100%;
    height: 7%;
    background-color: #F0F2F5;
}

.chat-members {
    height : 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-details-container {
    border-bottom : 1px solid #e9edef;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    height: 100%;
    align-items: center;
    margin-left: 3%;
}

.chat-name-and-recent-text {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.chat-pic {
    height: 49px;
    width: 49px;
    border-radius: 50%;
}

.chat-pic-div {
    margin : 5px 5px 5px 15px;
}

.selected-chat {
    /* background-color: #F0F2F5; */
    background-color: #1d3963;

}

.chat-time-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-name {
    display: flex;
}

.chat-name h1 {
    font-size: medium;
}